HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# í™˜ê²½ë³€ìˆ˜ íŒŒì¼
.env
setup-env.ps1

# Docker Local Data Volumes
docker_data/
.secrets

# test ê´€ë ¨ íŒŒì¼
/.github/test/*
/.github/_service-ci-local-test.yml

# QueryDSL generated sources
**/src/main/generated/

# Local runtime artifacts
*-bootrun.log

## log
**/logs/
# logs (Àı´ë Ä¿¹Ô ±İÁö)
**/logs/
*.log
